<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xmlns:th='http://www.thymeleaf.org'>
<head>
    <title>Invoice Form</title>
</head>
<body>
    <form method="POST" th:action="@{/invoice}" th:object="${invoice}">
        <h2> Invoice Form </h2>
        <div>
            Customer Id: <input type="text" th:field="*{customer}"/>
        </div>
        <div>
            Description :<input type="text" th:field="*{description}"/>
        </div>
        <div>
            <button type="submit" name="submit" value="value" class="link-button">Submit</button>
        </div>
    </form>
    <div>
        <form action="localhost:8080/invoices">
            <input type="submit" value="Go to invoices list" />
        </form>
    </div>
</body>
</html>