<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Invoice List</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:if="${invoices.getData().size() > 0}">
            <table>
                <tr>
                    <th> ID</th>
                    <th> Customer ID</th>
                    <th> Account country</th>
                    <th> Amount due</th>
                    <th> Amount paid</th>
                    <th> Amount remaining</th>
                    <th> Description</th>
                </tr>
                <tr th:each="invoice : ${invoices.data}">
                    <td th:text="${invoice.id}"> Id</td>
                    <td th:text="${invoice.customer}"> Customer</td>
                    <td th:text="${invoice.accountCountry}"> Account country</td>
                    <td th:text="${invoice.amountDue}"> Amount due</td>
                    <td th:text="${invoice.amountPaid}"> Amount paid</td>
                    <td th:text="${invoice.amountRemaining}"> Amount remaining</td>
                    <td th:text="${invoice.description}"> Description</td>
                </tr>
            </table>
        </div>
    </body>
</html>
