<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xmlns:th='http://www.thymeleaf.org'>
<table cellspacing="20px" border="1">
    <thead>
    <tr>
        <th> ID</th>
        <th> Customer ID</th>
        <th> Account country</th>
        <th> Account name</th>
        <th> Amount due</th>
        <th> Amount paid</th>
        <th> Amount remaining</th>
        <th> Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="invoice : ${invoices.data}">
        <td><span th:text="${invoice.id}"> Id </span></td>
        <td><span th:text="${invoice.customer}"> Customer </span></td>
        <td><span th:text="${invoice.account_country}"> Account country </span></td>
        <td><span th:text="${invoice.account_name}"> Account name </span></td>
        <td><span th:text="${invoice.amount_due}"> Amount due </span></td>
        <td><span th:text="${invoice.amount_paid}"> Amount paid </span></td>
        <td><span th:text="${invoice.amount_remaining}"> Amount remaining </span></td>
        <td><span th:text="${invoice.email}"> Description </span></td>
    </tr>
    </tbody>
</table>
</html>