<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/styles/css/table.css}" rel="stylesheet" />
</head>
    <body>
        <h2>Invoice Items List</h2>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th> ID</th>
                        <th> CustomerId</th>
                        <th> Amount</th>
                        <th> Currency</th>
                        <th> Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="invoiceItem : ${invoiceItems.data}">
                        <td><span th:text="${invoiceItem.id}"> Id </span></td>
                        <td><span th:text="${invoiceItem.customer}"> CustomerId </span></td>
                        <td><span th:text="${invoiceItem.amount}"> Amount </span></td>
                        <td><span th:text="${invoiceItem.currency}"> Currency </span></td>
                        <td><span th:text="${invoiceItem.description}"> Description </span></td>
                    </tr>
                <tbody>
            </table>
        </div>
    </body>
</html>
